<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ loadedUKM.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-img [src]="loadedUKM.imageURL"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>{{ loadedUKM.desc }}</ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button (click)="presentAlert()">
    <ion-label>Join</ion-label>
  </ion-button>
</ion-content>
